html, body{
    padding: 0;
    margin: 0;
}

#screen{
    margin: 15px auto 10px;
    text-align: center;
    padding: 25px;
    min-width: 800px;
    max-width: 900px;
    min-height: 600px;
    max-height: 700px;
}

#viewbox{
    display: inline-block;
    position: relative;
}

#grid{
    background-color: #ddd;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    border-spacing: 1px;
    transform: rotateX(180deg);
}

#grid td{
    background-color: #fff;
}

#grid td.actived{
    background-color: #000;
}

#grid td.actived.black{
    background-color: #000;
}

#grid td.actived.blue{
    background-color: #00f;
}

#grid td.actived.red{
    background-color: #f00;
}

#grid td.actived.green{
    background-color: #0f0;
}

#grid td.actived.yellow{
    background-color: #ff0;
}

#grid[pixel-scale='3'] td{
    width: 0px;
    height: 0px;
}

#grid[pixel-scale='4'] td{
    width: 1px;
    height: 1px;
}

#grid[pixel-scale='5'] td{
    width: 2px;
    height: 2px;
}

#grid[pixel-scale='6'] td{
    width: 3px;
    height: 3px;
}

#grid[pixel-scale='7'] td{
    width: 4px;
    height: 4px;
}

#grid[pixel-scale='8'] td{
    width: 5px;
    height: 5px;
}

#grid[pixel-scale='9'] td{
    width: 6px;
    height: 6px;
}

#grid[pixel-scale='10'] td{
    width: 7px;
    height: 7px;
}

#canvas{
    background-color: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    transform: rotateX(180deg);
}
